<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    chumbawumba this is the login page.
    <form class="login" action="/logMeIn" method="post">
      <label for="username">Usanamez</label><input type="text" name="username" value="">
      <label for="password">PASSWORDPLS</label><input type="text" name="password" value="">
      <button type="submit" name="submit" value="submit">SUMBIT</button>
    </form>
  </body>
</html>
